* {
  font-family: 'Victor Mono', monospace;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#quote-machine {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#quote-box {
  display: inline-block;
  margin: 10px;
  min-width: 400px;
  // --aug-border: 5px;
  // --aug-inset: 5px;
  padding: 50px 50px 20px;; /* mind the gap */
  text-align: center;
  background: #7e9dcd;
  border-radius: 7px;
  // --aug-inset-bg: #7e9dcd;
  // --aug-bl: 25px;
  // --aug-r-width: 20px;
  // --aug-r-height: 25%;
  // --aug-t-width: 20px;
  // --aug-t-height: 25%;
  // --aug-border-bg: linear-gradient(to bottom right, rebeccapurple, dodgerblue, indigo);
}

#title {
  color: rgb(51, 0, 87);
  margin: 0 auto 20px;
  font-weight: 700;
  font-size: 24px;
}

#text {
  color: indigo;
  margin: auto;
  font-weight: 500;
  font-style: italic;
  font-size: 21px;
  padding: 0 30px;
  min-height: 100px;
  
  ul {
    list-style-type: none;
    text-align: left;
    padding-left: 0;

    li {
      margin-bottom: 8px;
      line-height: 21px;
    }
  }
}

#author {
  color: white;
  margin: 20px auto;
  font-size: 16px;
}

div.btn {
  display: inline-block;
  margin: 10px;
  padding: 12px 24px; /* mind the gap */
  text-align: center;
  font-size: 21px;
  color: #1a254a;
  cursor: pointer;

  border: navy 1px solid;
  border-radius: 5px;
  // --aug-border: 2px;
  // --aug-inset: 5px;
  // --aug-border-bg: linear-gradient(to bottom right, rgb(33, 33, 218), dodgerblue);
  // --aug-inset-bg: rgba(255,255,255,.2);
  background: rgba(255,255,255,.5);
  &:hover,
  &:active {
    color: navy;
    background: rgba(255,255,255,.4);
    // --aug-inset-bg: rgba(255,255,255,.3);
  }

  a {
    //background: rgba(255,255,255,.5);
    color: #1a254a;
    text-decoration: none;
    &:hover,
    &:active {
      color: navy;
      // --aug-inset-bg: rgba(255,255,255,.3);
    }
  }
}
